/*
    Define custom properties to be inherited - like a theme of sort.
*/


*
{
    font-family: Consolas, Courier New, monospace;
}


.pixelart
{
    image-rendering: pixelated;
}


/*
    Config variables for aspect ratios of holes, whackbox, min width, and max sizes.
    Mostly here for easy readability.
*/
:root
{
    /* Aspect ratio for the area containing the hole and animal. */
    --game-slot-aspect-ratio: 1 / 1;
    /*
        Anything smaller than this should be displayed vertically
        to keep the texts and images from becoming too small.

        Media queries also rely on this feature, so you must
        change the min-width field of media queries when updating this variable.
    */
    --horizontal-game-content-min-width: 800px;
    /*
        Gap size to separate the slot container and the instruction container.
    */
    --game-slot-and-instruction-gap-size: 0px;


    @media (orientation: landscape) and (min-width: 800px)
    {
        /* Can also be 3:1 aspect. */
        --game-bound-aspect-ratio: 20 / 9;
        /*
            Prevent the game from becoming bigger than this to prevent the buttons from becoming
            too far from each other (or too big to be easily seen).
        */
        --game-bound-max-width: 2560px;
        /* Additional padding for the game content relative to the edges of the screen. */
        --game-content-padding: 0px clamp(10px, 5%, 100px) clamp(20px, 10%, 200px) clamp(10px, 5%, 100px);
        /* Become fully transparent at the edge of the element. */
        --game-background: radial-gradient(ellipse farthest-side at center top, rgba(255, 228, 91, 1) 90%, rgba(97, 97, 255, 0));
        /*
            Set the width of the background to the max width of the game area, times some additional factor.
            --background-width: calc(var(--game-bound-max-width) * 2.5);

            Set the height of the background to the max height of the game area, times some additional factor.
            Additionally divide this by half since we are only using the bottom half of an ellipse for the background.
            --background-height: calc(var(--background-width) / (var(--game-bound-aspect-ratio)) * 0.5);
        */
        /* Make the background square because this is a circular gradient. */
        /*
            To do this, apply the aspect ratio to the game-bound-max-width
            if said aspect ratio is more than 1 (if height is greater than width).
            This will set the result to game-bound-max-width if width is greater than height.
        */
        --background-width: calc(var(--game-bound-max-width) * 2.5 / (min(1, var(--game-bound-aspect-ratio))));
        /*
            Divide the width by half to get the height since the background only uses the bottom half of an ellipse.
            (Aspect ratio of the background is 2:1)
        */
        --background-height: calc(var(--background-width) / 2);
    }

    @media (orientation: portrait), not (min-width: 800px)
    {
        /* Can also be 3:1 aspect. */
        --game-bound-aspect-ratio: 9 / 20;
        /*
            Prevent the game from becoming bigger than this to prevent the buttons from becoming
            too far from each other (or too big to be easily seen).
        */
        --game-bound-max-width: 1920px;
        /* Additional padding for the game content relative to the edges of the screen. */
        --game-content-padding: clamp(10px, 5%, 100px) clamp(10px, 5%, 100px) clamp(20px, 10%, 200px) 0px;
        /* Become fully transparent at the edge of the element. */
        --game-background: radial-gradient(ellipse farthest-side at left top, rgba(255, 228, 91, 1) 90%, rgba(97, 97, 255, 0));
        /*
            Set the width of the background to the max width of the game area, times some additional factor.
            Additionally divide this by half, since we are only use the bottom right quarter of an ellipse for the background.
            --background-width: calc(var(--game-bound-max-width) * 4 * 0.5);

            Set the height of the background to the max height of the game area, times some additional factor.
            Additionally divide this by half, since we are only use the bottom right quarter of an ellipse for the background.
            --background-height: calc(var(--background-width) / (var(--game-bound-aspect-ratio)) * 0.5);
        */
        /* Make the background square because this is a circular gradient. */
        /*
            To do this, apply the aspect ratio to the game-bound-max-width
            if said aspect ratio is more than 1 (if height is greater than width).
            This will set the result to game-bound-max-width if width is greater than height.
            Additionally divide this by half, since we are only use the bottom right quarter of an ellipse for the background.
        */
        --background-width: calc(var(--game-bound-max-width) * 4 * 0.5 / min(1, var(--game-bound-aspect-ratio)));
        /*
            No need to divide the width by half to get the height
            since the background only uses the bottom left quarter of an ellipse.
            (Aspect ratio of the background is 1:1)
        */
        --background-height: calc(var(--background-width));
    }
}



/* Horizontal layout. */
@media (orientation: landscape) and (min-width: 800px)
{
    /*
        The class of divs acting as the bounding box for
        both the hole and the animal that comes out of said hole.
    */
    .game-slot
    {
        position:relative;

        height: 100%;
        aspect-ratio: var(--game-slot-aspect-ratio);

        /* Placeholder background. */
        background-color: goldenrod;
    }

    /* The class of divs containing the game-slot divs. */
    .slot-container
    {
        display: flex;

        width: 100%;
        height: 67%; /* Six-seven... */

        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        /* Placeholder background. */
        background-color: cadetblue;
    }

    /* The class of divs showing which button must be pressed, the score, and the remaining amount of time. */
    .instruction-container
    {
        display: flex;
        width: 100%;
        height: 25%;

        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        
        /* Placeholder background. */
        background-color: aquamarine;
    }

    /* The class of divs containing the game items, maintaining an appropriate aspect ratio. */
    .game-bound
    {
        display: flex;
        box-sizing: border-box; 

        /* Cheat method to center this div. */
        margin: auto;

        width: 100%;
        max-width: var(--game-bound-max-width);
        aspect-ratio: var(--game-bound-aspect-ratio);
        padding: var(--game-content-padding);
        gap: var(--game-slot-and-instruction-gap-size);

        /* Main axis is the vertical; items are aligned from top down. */
        flex-direction: column;
        
        /* Put a space between the 2 items along the vertical. */
        justify-content: space-between;

        /* Align items in the middle of the width of the flex box. */
        align-items: center;



        /*
            Game state value for the penguin's ability.
            When the ability is in full in effect, this value is 1 (affected items become dark).
            When the ability is not in effect, this value is 0 (affected items remain bright).
        */
        --game-darkness: 0;

        /*
            By applying sepia, the hues of all colours are effectively set to the same value, allowing for hue-rotate too create a tint.
            The contrast applied at first is to make the sepia a bit less vibrant.
            The contrast applied later on is to make the result colour less washed out.

            This property must be placed at the same level as the game-darkness
            for elements that directly change game-darkness, in order for the change be to reflected.
        */
        --game-darkness-filter: contrast(calc(100% - 100% * var(--game-darkness)))
                                sepia(calc(100% * var(--game-darkness)))
                                hue-rotate(calc(220deg * var(--game-darkness) * var(--game-darkness)))
                                contrast(calc(100% + 100% * var(--game-darkness)))
                                brightness(calc(100% - 60% * var(--game-darkness)));



        /* Placeholder background. */
        background-color: rgba(255, 228, 91, 1);
    }
}



/* Vertical layout. */
@media (orientation: portrait), not (min-width: 800px)
{
    .game-slot
    {
        position:relative;
        width: 100%;
        aspect-ratio: var(--game-slot-aspect-ratio);
        
        /* Placeholder background. */
        background-color: goldenrod;
    }

    /* The class of divs containing the game-slot divs. */
    .slot-container
    {
        display: flex;
        width: 67%; /* Six-seven... */
        height: 100%;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        /* Placeholder background. */
        background-color: cadetblue;
    }

    /* The class of divs showing which button must be pressed, the score, and the remaining amount of time. */
    .instruction-container
    {
        display: flex;
        width: 25%;
        height: 100%;

        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        
        /* Placeholder background. */
        background-color: aquamarine;
    }

    /* The class of divs containing the game items, maintaining an appropriate aspect ratio. */
    .game-bound
    {
        display: flex;
        box-sizing: border-box;
        
        /* No centering, since this div must align with the left border. */

        width: 100%;
        max-width: var(--game-bound-max-width);
        aspect-ratio: var(--game-bound-aspect-ratio);
        padding: var(--game-content-padding);
        gap: var(--game-slot-and-instruction-gap-size);

        /* Main axis is the horizontal; items are aligned from left to right. */
        flex-direction: row;

        /* Put a space between the 2 items along the horizontal. */
        justify-content: space-between;
        
        /* Align items from the top of the flex box downwards. */
        align-content: start;



        /*
            Game state value for the penguin's ability.
            When the ability is in full in effect, this value is 1 (affected items become dark).
            When the ability is not in effect, this value is 0 (affected items remain bright).
        */
        --game-darkness: 0;

        /*
            By applying sepia, the hues of all colours are effectively set to the same value, allowing for hue-rotate too create a tint.
            The contrast applied at first is to make the sepia a bit less vibrant.
            The contrast applied later on is to make the result colour less washed out.

            This property must be placed at the same level as the game-darkness
            for elements that directly change game-darkness, in order for the change be to reflected.
        */
        --game-darkness-filter: contrast(calc(100% - 100% * var(--game-darkness)))
                                sepia(calc(100% * var(--game-darkness)))
                                hue-rotate(calc(220deg * var(--game-darkness) * var(--game-darkness)))
                                contrast(calc(100% + 100% * var(--game-darkness)))
                                brightness(calc(100% - 60% * var(--game-darkness)));



        /* Placeholder background. */
        background-color: rgba(255, 228, 91, 1);
    }
}

.animal-button
{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: var(--game-darkness-filter);
    image-rendering: pixelated;
}



body
{
    margin: 0px;
    /* Prevent auto-scrolling */
    overscroll-behavior-y: none;

    /* Placeholder background. */
    background-color: #d3afd4;
    /* The leftmost background is rendered on top. */
    background-image: var(--game-background), url("Sprites/penguin_title_icon.png"); /* mwehehe */
    
    background-repeat: no-repeat, repeat;

    /* Position the background different depending on whether the game is in horizontal or vertical layout. */
    @media (orientation: landscape) and (min-width: 800px)
    {
        background-position: center top, center top;
    }
    @media (orientation: portrait), not (min-width: 800px)
    {
        background-position: left top, left top;
    }

    background-size: var(--background-width) var(--background-height), auto auto;
}
