/*
    Define custom properties to be inherited - like a theme of sort.
*/


*
{
    font-family: Consolas, Courier New, monospace;
}


.pixelart
{
    image-rendering: pixelated;
}


body
{
    margin: 0px;

    /* Prevent auto-scrolling */
    overscroll-behavior-y: none;
    
    /*
        Placeholder background.
    */
    background-color: #d3afd4;
    background-image: url("Sprites/penguin_title_icon.png"); /* mwehehe */
}





/*
    Config variables for aspect ratios of holes, whackbox, min width, and max sizes.
    Mostly here for easy readability.
*/
:root
{
    /* Aspect ratio for the area containing the hole and animal. */
    --game-slot-aspect-ratio: 1 / 1;

    /*
        Anything smaller than this should be displayed vertically
        to keep the texts and images from becoming too small.

        Media queries also rely on this feature, so you must
        change the min-width field of media queries when updating this variable.
    */
    --horizontal-game-content-min-width: 800px;

    /*
        Gap size to separate the slot container and the instruction container.
    */
    --game-slot-and-instruction-gap-size: 0px;


    @media (orientation: landscape) and (min-width: 800px)
    {
        /* Can also be 3:1 aspect. */
        --game-bound-aspect-ratio: 20 / 9;
        /*
            Prevent the game from becoming bigger than this to prevent the buttons from becoming
            too far from each other (or too big to be easily seen).
        */
        --game-bound-max-width: 2560px;

        
        /* Additional padding for the game content relative to the edges of the screen. */
        --game-content-padding: 0px clamp(10px, 5%, 100px) clamp(20px, 10%, 200px) clamp(10px, 5%, 100px);
        
        /* Become fully transparent at the edge of the element. */
        --game-background: radial-gradient(ellipse farthest-side at center top, rgba(255, 228, 91, 1) 90%, rgba(97, 97, 255, 0));
        --background-to-game-bound-scale: 1.75;
    }

    @media (orientation: portrait), not (min-width: 800px)
    {
        /* Can also be 3:1 aspect. */
        --game-bound-aspect-ratio: 9 / 20;
        /*
            Prevent the game from becoming bigger than this to prevent the buttons from becoming
            too far from each other (or too big to be easily seen).
        */
        --game-bound-max-width: 1920px;
        
        /* Additional padding for the game content relative to the edges of the screen. */
        --game-content-padding: clamp(10px, 5%, 100px) clamp(10px, 5%, 100px) clamp(20px, 10%, 200px) 0px;
        
        /* Become fully transparent at the edge of the element. */
        --game-background: radial-gradient(ellipse farthest-side at center top, rgba(255, 228, 91, 1) 90%, rgba(97, 97, 255, 0));
        --background-to-game-bound-scale: 1.75;
    }
}




/* Horizontal layout. */
@media (orientation: landscape) and (min-width: 800px)
{
    /*
        The class of divs acting as the bounding box for
        both the hole and the animal that comes out of said hole.
    */
    .game-slot
    {
        height: 100%;
        aspect-ratio: var(--game-slot-aspect-ratio);

        /* Placeholder background. */
        background-color: goldenrod;
    }

    /* The class of divs containing the game-slot divs. */
    .slot-container
    {
        display: flex;

        width: 100%;
        height: 67%; /* Six-seven... */

        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        /* Placeholder background. */
        background-color: cadetblue;
    }

    /* The class of divs showing which button must be pressed, the score, and the remaining amount of time. */
    .instruction-container
    {
        display: flex;
        width: 100%;
        height: 25%;

        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        
        /* Placeholder background. */
        background-color: aquamarine;
    }

    /* The class of divs containing the game items, maintaining an appropriate aspect ratio. */
    .game-bound
    {
        display: flex;
        box-sizing: border-box; 

        width: 100%;
        max-width: var(--game-bound-max-width);
        aspect-ratio: var(--game-bound-aspect-ratio);
        padding: var(--game-content-padding);
        gap: var(--game-slot-and-instruction-gap-size);

        /* Main axis is the vertical; items are aligned from top down. */
        flex-direction: column;
        
        /* Put a space between the 2 items along the vertical. */
        justify-content: space-between;

        /* Align items in the middle of the width of the flex box. */
        align-items: center;

        /* Placeholder background. */
        background-color: rgba(255, 228, 91, 1);
    }

    /*
        The class of divs containing a game-box-bound div,
        for the purpose of rendering a finite background (that differs from the page's background) for the game area.
    */
    .game-area
    {
        display: flex;
        box-sizing: content-box;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
        width: 100%;
        /*
            Set the aspect ratio so that the browser automatically calculates
            the height of the background container based on the width of the game bounds.
        */
        aspect-ratio: var(--game-bound-aspect-ratio);
        /* Make sure the height at least covers the entire height of the screen. */
        min-height: 100vh;

        /* Limit the width to game-bound-max-width * background-to-game-bound-scale. */
        max-width: calc(var(--game-bound-max-width) * var(--background-to-game-bound-scale));
        /* Limit the height to game-boundmax-height * background-to-game-bound-scale. */
        max-height: calc(var(--game-bound-max-width) * var(--background-to-game-bound-scale) / (var(--game-bound-aspect-ratio)));

        /* Cheat method to centre this div. */
        margin: auto;

        background-image: var(--game-background);
        background-position: center top;
        background-size: calc(var(--game-bound-max-width) * var(--background-to-game-bound-scale))
                         calc(var(--game-bound-max-width) * var(--background-to-game-bound-scale) / (var(--game-bound-aspect-ratio)));
        background-repeat: no-repeat;
    }
}







/* Vertical layout. */
@media (orientation: portrait), not (min-width: 800px)
{
    .game-slot
    {
        width: 100%;
        aspect-ratio: var(--game-slot-aspect-ratio);
        
        /* Placeholder background. */
        background-color: goldenrod;
    }

    /* The class of divs containing the game-slot divs. */
    .slot-container
    {
        display: flex;
        width: 67%; /* Six-seven... */
        height: 100%;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        /* Placeholder background. */
        background-color: cadetblue;
    }

    /* The class of divs showing which button must be pressed, the score, and the remaining amount of time. */
    .instruction-container
    {
        display: flex;
        width: 25%;
        height: 100%;

        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        
        /* Placeholder background. */
        background-color: aquamarine;
    }

    /* The class of divs containing the game items, maintaining an appropriate aspect ratio. */
    .game-bound
    {
        display: flex;
        box-sizing: border-box;
        
        width: 100%;
        max-width: var(--game-bound-max-width);
        aspect-ratio: var(--game-bound-aspect-ratio);
        padding: var(--game-content-padding);
        gap: var(--game-slot-and-instruction-gap-size);

        /* Main axis is the horizontal; items are aligned from left to right. */
        flex-direction: row;

        /* Put a space between the 2 items along the horizontal. */
        justify-content: space-between;
        
        /* Align items from the top of the flex box downwards. */
        align-content: start;

        /* Placeholder background. */
        background-color: rgba(255, 228, 91, 1);
    }

    /*
        The class of divs containing a game-box-bound div,
        for the purpose of rendering a finite background (that differs from the page's background) for the game area.
    */
    .game-area
    {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        width: 100%;
        /*
            Set the aspect ratio so that the browser automatically calculates
            the height of the background container based on the width of the game bounds.
        */
        aspect-ratio: var(--game-bound-aspect-ratio);
        /* Make sure the height at least covers the entire height of the screen. */
        min-height: 100vh;

        /* Limit the width to game-bound-max-width * background-to-game-bound-scale. */
        max-width: calc(var(--game-bound-max-width) * var(--background-to-game-bound-scale));
        /* Limit the height to game-boundmax-height * background-to-game-bound-scale. */
        max-height: calc(var(--game-bound-max-width) * var(--background-to-game-bound-scale) / (var(--game-bound-aspect-ratio)));

        /* Cheat method to centre this div. */
        margin: auto;

        background-image: var(--game-background);
        background-position: center top;
        background-size: calc(var(--game-bound-max-width) * var(--background-to-game-bound-scale))
                         calc(var(--game-bound-max-width) * var(--background-to-game-bound-scale) / (var(--game-bound-aspect-ratio)));
        background-repeat: no-repeat;
    }
}
